.homeImage {
    width: 100%;
    height: 60rem;
    background-image: url('../assets/img/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer p {
    height: 2rem;
    margin-bottom: 0;
}

.hide { display:none;}
.nav-underline .nav-link.active, .nav-underline .show>.nav-link {
    font-weight: 600;
    color: #D35088;
    border-bottom-color: currentcolor;
}
.nav-underline .nav-link, .nav-underline .show>.nav-link {
    color: #000;
}
.nav-underline .nav-link:hover, .nav-underline .show>.nav-link:hover {
    border-bottom-color: currentcolor;
}