extends ../layout.pug

block content
    h1 Choisissez un nom pour votre nouvelle Playlist 
    form(method="post")
        input.form-control(type="text", name="name")
        button.btn.btn-primary.mt-2(type='submit') Validez