doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Deez
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN' crossorigin='anonymous')
        link(rel="stylesheet", href="./CSS/main.css")

    body(data-bs-theme="dark")
        header
                nav.navbar.navbar-expand-lg.bg-body-secondary
                    a.navbar-brand(href="/")
                        img(src="/assets/logo/logo.jpg" alt="logo" width="70" height="60")
                    .collapse.navbar-collapse#navbarNavDropdown
                        ul.navbar-nav    
                                li.nav-item
                                    a.nav-link.active(aria-current="page" href="/search") Recherche
                                li.nav-item
                                    a.nav-link.active(aria-current="page" href="/blind") Blind Test
                                li.nav-item.dropdown
                                    a.nav-link.active.dropdown-toggle(href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false")
                                        | Compte
                                    ul.dropdown-menu
                                        if !app.user
                                            li
                                                a.dropdown-item(href="/register") Inscription
                                            li
                                                a.dropdown-item(href="/login") Connexion
                                        else
                                            li
                                                a.dropdown-item(href="/profil") Profil
                                            li
                                                a.dropdown-item(href="/logout") Déconnexion
                                if app.user && app.user.roles && app.user.roles.includes('admin')
                                    li.nav-item
                                        a.nav-link.active(aria-current="page" href="/admin") Administrator 

        - var messages = getMessages()

        if messages.info || messages.notify || messages.error
            #flashMessages.mb-0
                if messages.info
                    each msg in messages.info
                        .alert.alert-info= msg
                if messages.notify
                    each msg in messages.notify
                        .alert.alert-success= msg
                if messages.error
                    each msg in messages.error
                        .alert.alert-danger= msg
        block content

        footer.bg-body-secondary
            p.text-center © Top-Music 2024



    script(src=process.env.BROWSER_REFRESH_URL)
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL' crossorigin='anonymous')